{% extends "base.njk" %}
{% block titulo %}Patient {{ patient.insuranceNumber }}{% endblock %}
{% block contenido %}
    <h1 class="text-center my-4 text-primary">{{ patient.surname }}, {{ patient.name }}</h1>

    <div class="container">
        <div class="card shadow-lg border-light" style="border-radius: 15px; overflow: hidden; background: linear-gradient(to right, #f8f9fa, #e9ecef);">
            <div class="row g-0">
            <div class="col-md-4">
                    {% if patient.image %}
                        <img src="/public/uploads/{{ patient.image }}" class="img-fluid" alt="{{ patient.image }}'s image" style="height: 100%; object-fit: cover; border-top-left-radius: 15px; border-bottom-left-radius: 15px;">
                    {% else %}
                        <div class="no-photo d-flex justify-content-center align-items-center flex-column p-4" style="background-color: #f8d7da; border-radius: 15px; border: 2px dashed #f5c6cb; min-height: 200px; color: #721c24;">
                            <span style="font-size: 50px;">🐱‍👤</span>
                            <h5 class="mt-3">¡Ups! This patient has no photo</h5>
                        </div>
                    {% endif %}
                </div>

                <div class="col-md-8">
                    <div class="card-body">
                        <h6 class="card-title text-dark fw-bold" style="font-size: 1.75rem;">Insurace number: {{ patient.insuranceNumber }}</h6>
                        <p class="card-text mt-2">
                            <strong class="text-muted">Birth date:</strong>
                            <span class="text-dark">{{ date }}</span></p>
                        <p class="card-text">
                            <strong class="text-muted">Address:</strong>
                            <span class="text-success">{{ patient.address }}</span></p>
                    </div>
                </div>
                <div class="card-footer text-center">
                {% if (session and session.login and (session.rol == 'admin' or session.rol == 'physio')) %}
                    <a href="/patients/{{ patient.id }}/edit" class="btn btn-primary" style="background-color: #c3b091; border: none; padding: 10px 20px; border-radius: 5px;">Edit patient</a>
                    <a href="/patients" class="btn btn-primary" style="margin-right: 10px;">Go back</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}