{% extends "base.njk" %}
{% block titulo %}Records | List{% endblock %}
{% block contenido %}
    <h1>PhysioCare records</h1>
    {% include "records_search.njk" %}
    <div class="container">
        <table class="table table-hover table-bordered align-middle shadow-sm" style="border-radius: 10px; overflow: hidden;">
            <thead class="bg-primary text-white">
                <tr>
                    <th>Insurance number</th>
                    <th>Surname, Name</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr style="background-color: {% if loop.index % 2 == 0 %}#f8f9fa{% else %}#e9ecef{% endif %};">
                        <td> {{ record.patient.insuranceNumber }}</td>
                        <td>{{ record.patient.surname }}, {{ record.patient.name }}</td>
                        <td class="text-center">
                            <a href="/records/{{ record.patient.id }}" class="btn btn-outline-primary btn-sm">View details</a>
                            <a href="/records/{{ record.patient.id }}/appointments/new" class="btn btn-outline-success btn-sm">Add appointment</a>
                            <form action="/records/{{ record.patient.id }}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button type="submit" class="btn btn-outline-danger btn-sm">
                                Delete
                                </button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3" class="text-center text-muted">There is no any record to show</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}