<form action="/records/find" method="get" class="d-flex align-items-center">
    <div class="form-group d-flex">
        <input type="text" class="form-control form-control-sm rounded-pill shadow-sm" name="surname" id="surname" placeholder="Search record by surname" style="max-width: 200px;">
        <button type="submit" class="btn btn-primary btn-sm ms-2 rounded-pill shadow-sm" style="background-color: #c3b091; border: none; padding: 8px 16px; border-radius: 5px;">
            Search
        </button>
    </div>
</form>